@model PortfolioBuilder1.Models.Profile

@{
    ViewData["Title"] = "User Details";
}

<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <div class="card shadow">

                <div class="card-header bg-dark text-white">
                    <h2>Detail User</h2>
                </div>

@* <form asp-action="Create" method="post"> *@
                <div class="card-body">
                    <p><b>FullName:</b> @Model.FullName</p>
                    <p><b>Email:</b> @Model.Email</p>
                    <p><b>Title:</b> @Model.Title</p>
                    <p><b>About:</b> @Model.About</p>
                    <p><b>Phone:</b> @Model.Phone</p>
                    <p><b>LinkedIn:</b> @Model.LinkedIn</p>
                    <p><b>GitHub:</b> @Model.GitHub</p>

                <a asp-action="Index" class="btn btn-secondary">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>